.navbar {
  font-weight: bold;
  text-align: center;
  background: $navbar-background;
  color: $main-color;
  margin: 0;
  padding: 2px;
  display: block;
  top: 0;
  right: 0;
  left: 0;

  .title {
    font-weight: 900;
  }

  h1 {
    display: inline-block;
    float: left;
    margin: 0 5%;
    padding-top:5px;
  }

  .inner {
    display: inline-block;

    p {
      display: inline-block;
      margin: 16px 20px;
    }
  }
}
