* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
  font-weight: 400;
}

form {
  input, button {
    display: block;
    margin: 1em;
  }

  button {
    padding: 1em;
    font-family: helvetica, serif;
    border: lightblue;
    background-color: lightblue;
    color: white;
  }
}

.btn {
  border: none;
  color: white;
  padding: 1em;
  margin: 2em;
}
